.tx-debugger {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;

  &__box {
    border-radius: 6px;
    box-shadow: 0 2px 22px -10px rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
  }

  &__header {
    padding: 15px 25px;
    font-size: 17px;
    font-weight: 500;
    color: $black;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &__content {
    padding: 0 25px;
    height: 485px;
    overflow: auto;
    margin: 20px 20px 20px 0;

    &::-webkit-scrollbar-track {
      border-radius: 8px;
      background-color: rgba(163, 165, 175, .2);
    }

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: #9da1b2;
    }
  }

  &__item {
    display: flex;
    margin-bottom: 15px;
  }

  &__number {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    text-align: center;
    background-color: #9ea1aa;
    color: white;
    font-size: 13px;
    font-weight: 500;
    padding-top: 4px;
    margin-right: 10px;
    position: relative;
    bottom: 1px;
  }

  &__bug {
    width: calc(100% - 32px);
    font-size: 14px;
    color: #5a5e67;
    line-height: 20px;
  }

  &__text {
    color: $white-smoke;
    font-size: 14px;

    &::after {
      content: '';
      display: inline-block;
      margin-left: 10px;
    }

    &--green {
      color: $green-light;

      &::after {
        width: 18px;
        height: 13px;
        background-image: url($image-path + 'icons/check-mark.svg');
      }
    }

    &--red {
      color: $red;

      &::after {
        width: 14px;
        height: 14px;
        background-image: url($image-path + 'icons/x-mark.svg');
        position: relative;
        top: 2px;
      }
    }

    &--white {
      color: white;
    }
  }

  &__debug {
    width: 50%;
    background-color: #252939;

    .tx-debugger__content {
      line-height: 22px;
    }
  }

  &__summary {
    width: 45%;

    .tx-debugger__header {
      position: relative;

      &::after {
        content: '';
        width: calc(100% - 50px);
        height: 1px;
        background-color: $grey-lighter;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }

    .tx-debugger__content {
      padding-top: 1px;
    }
  }

  @media (max-width: $breakpoint-medium) {
    display: block;

    &__debug,
    &__summary {
      width: 100%;
    }

    &__debug {
      margin-bottom: 30px;
      padding-bottom: 1px;

      .tx-debugger__content {
        height: 290px;
      }
    }

    &__summary {
      .tx-debugger__content {
        height: auto;
      }
    }
  }
}
