.common {
  &__fade-in {
    opacity: 0;
    transform: translateY(10px);
    animation: fade-in 0.3s forwards;
  }

  &__blink {
    font-size: 18px;
    color: white;
    display: inline-block;
    margin-left: 3px;
    animation: blink 0.5s infinite;
  }

  &__button {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 18px;
    color: white;
    border-radius: 3px;
    background: linear-gradient(to top, #1fb990, #31cb9e) 0 0;
    background-size: auto 150%;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      background-position: 0 100%;
    }

    &:active {
      transform: translateY(1px);
    }
  }

  &__error {
    color: $red;
    font-size: 12px;
  }
}
