/* ============ Path ============ */
$image-path: '../images/';

/* ============ Breakpoints ============ */
$breakpoint-xlg: 1000px;
$breakpoint-lg: 950px;
$breakpoint-xmd: 750px;
$breakpoint-md: 650px;
$breakpoint-xsm: 500px;
$breakpoint-sm: 450px;
$breakpoint-2sm: 350px;
$breakpoint-3sm: 320px;
