/* ============ Path ============ */
$image-path: '../images/';

/* ============ Breakpoints ============ */
$breakpoint-xlg: 1000px;
$breakpoint-lg: 950px;
$breakpoint-xmd: 750px;
$breakpoint-md: 650px;
$breakpoint-xsm: 500px;
$breakpoint-sm: 450px;
$breakpoint-2sm: 350px;
$breakpoint-3sm: 320px;

/* ============ Colors ============ */
$grey-lightest: #f6f7fa;
$grey-lighter: #e1e4eb;
$grey: #9ea1aa;
$black-light: #5a5e67;
$black: #333;
$green-light: #3ef9c0;
$green: #31cb9e;
$white-smoke: #e6e6e6;

/* ============ Fonts ============ */
$font-roboto: 'Roboto', sans-serif;
